@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Nunito");

@layer base {
  /* body {
    @apply font-[Nunito];
  } */

  li {
    @apply px-6;
    @apply cursor-pointer;
  }
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}

.content-div:hover {
  background-image: linear-gradient(to right, #577cb3, hsla(242, 64%, 51%, 0.4)) !important;
  /* background-image: linear-gradient(to right, #7bbaf4, #a6b2ef) !important; */

  /* filter: brightness(40%); */
}
